<div mat-dialog-content class="auth-form-light text-left p-5">
   <h2>Register</h2>
                <h4 class="font-weight-light">Hello! let's get started</h4>
  <form [formGroup]="registrationForm" (ngSubmit)="onRegister(registrationForm.value)">

    <mat-form-field class="full-width">
      <input matInput placeholder="Full Name" type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="email" type="email" formControlName="email">

    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput   placeholder="username" type="email" formControlName="username">
	  <mat-icon matSuffix svgIcon="user"></mat-icon>
    </mat-form-field>


    <mat-form-field>
      <input matInput placeholder="Enter your password" formControlName="password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Please confirm your password" formControlName="repeatpassword" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <br/>
   

          <button class="submit-btn btn btn-block btn-primary btn-lg font-weight-medium" mat-button type="submit" [disabled]="!registrationForm.valid" cdkFocusInitial>Register</button>
        <!--   <button mat-button (click)="onNoClick()" type="button">Cancel</button> -->
      
  </form>

</div>