<!-- <nav class="navbar navbar-inverse bg-inverse" *ngIf="!isUserLoggedIn">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        {{title}}
      </a>
    </div>
  </div>
</nav>

<nav class="navbar navbar-toggleable navbar-inverse bg-inverse" *ngIf="isUserLoggedIn">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerMainMenu" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">{{title}}</a>
  <a mat-raised-button (click)="logout()">Logout</a>
  
</nav> -->
<!-- <mat-toolbar color="gray" *ngIf="!isUserLoggedIn">

  <mat-toolbar-row>
    <span class="example-spacer" >
      Test Application 
    </span>
  </mat-toolbar-row>

</mat-toolbar> 
<mat-toolbar color="gray" *ngIf="isUserLoggedIn">

    <mat-toolbar-row>
      <span class="example-spacer" >
        Test Application 
      </span>
        <span class="example-spacer" >
            <nav>
                 <a mat-raised-button (click)="logout()" >Logout</a>
              </nav>
        </span>
        
      </mat-toolbar-row>

</mat-toolbar>  -->
  

  <router-outlet></router-outlet> 